@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*::-webkit-scrollbar {
    display: none;
}

*, *:link, *:hover, *:visited, *:active,
::before,
::after {
    padding: 0;
    margin: 0;

    border: none;

    background: none;

    border-radius: 0;

    line-height: 1.5;
    font-family: "NT Somic", sans-serif;

    color: inherit;

    text-decoration: none;

    box-sizing: border-box;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.page-body {
    display: grid;
    grid-template-areas: "header header" "main nav" "footer footer";
    grid-template-columns: minmax(45rem, 50rem) min-content;
    grid-template-rows: auto minmax(100vh, auto) auto;
    grid-gap: 1rem;

    justify-content: center;

    font-size: calc(5px + 1vw);

    background-color: #ece9f6;
}

.page-loader {
}

.page-header {
    grid-area: header;

    padding: 2rem 5rem;
    background-color: #000000;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    color: #ffffff;
}

.page-header__heading {
    font-size: 1.25rem;
}

.page-main {
    display: none;

    opacity: 1;

    grid-area: main;

    background-color: #ffffff;

    border-radius: 2rem 1rem 1rem 2rem;

    padding: 2rem 3rem;

    transition: all .3s ease-out;

    transform: translateY(0);
}

.page-main_active {
    display: block;
}

.page-main_to-hidden {
    opacity: 0;
    transform: translateY(5rem);
    transition: all .3s ease-in;
}

.article {
}

.article__heading {
    margin-bottom: 2rem;
}

.article__2-heading {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.article__paragraph {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.article__bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.article__highlight {
    padding: 0 .5rem .2rem;
    background-color: #dcd7fd;
    border-radius: 6rem;
}

.article__blockquote {
    position: relative;

    display: grid;
    grid-gap: 1rem;

    border-radius: 3rem;
    background-color: #eae6ff;

    padding: 2rem 3rem 3rem 6rem;

    margin-bottom: 2rem;
}

.article__blockquote::before {
    content: '«';
    position: absolute;
    top: calc(50% - 6rem);
    left: .6rem;

    font-size: 6rem;

    color: #9f97ca;
}

.article__copyright {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.page-nav {
    grid-area: nav;
}

.nav {
    position: sticky;
    top: 1rem;

    background-color: #fff;
    border-radius: 1rem 2rem 2rem 1rem;

    padding: .5rem;

    font-size: 1rem;

    list-style: none;
}

.nav__el {
    border-radius: .5rem;
    overflow: hidden;
}

.nav__el:first-child {
    border-top-right-radius: 1.4rem;
}

.nav__el:last-child {
    border-bottom-right-radius: 1.4rem;
}

.nav__button {
    text-align: start;
    width: 100%;
    padding: .5rem 2rem;

    font-size: 1.1rem;

    transition: background-color 0.4s ease;
}

.nav__button:hover {
    background-color: #dcd7fd;
    cursor: pointer;
}

.nav__button_active {
    background-color: #ece8ff;
}

.page-footer {
    grid-area: footer;
}

.page-footer__dark-light {
}